.find-house{
  position: relative;
}
.search-nav {
  height: 45px;
  padding: 0 10px;
  background-color: #f6f5f6;
}

.search-nav .icon-back {
  font-size: 16px;
  color: #999;
}

.search-nav .search-box {
    position: relative;
    top: 0;
    padding: 0;
}

.search-box .am-flexbox {
  height: 30px;
}

.search-nav .search-box .icon-map {
  color: #00ae66;
}