<!DOCTYPE html>
<html lang="zh-CN">

  <%- include('common/head'); %>

<body>
  <div class="login">
    <form class="login-wrap" id = 'loginForm'>
      <img class="avatar" src="/img/default.png">
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong> 用户名或密码错误！
      </div> -->
      <div class="form-group">
        <label for="email" class="sr-only">邮箱</label>
        <input id="email" type="email" class="form-control" name = 'email' placeholder="邮箱" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" type="password" class="form-control" name = 'password' placeholder="密码">
      </div>
      <button class="btn btn-primary btn-block" type="submit" id='loginButton'>登 录</button>
    </form>
  </div>
  <!-- 引入jquer -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
  <!-- 让提示信息变成中文 -->
  <script src="/lib/bootstrapvalidator/js/language/zh_CN.js"></script>
  <script src="/js/adminLogin.js"></script>
</body>
</html>