.search {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #C91523;
    z-index: 10;

    .logo {
        width: 58px;
        height: 20px;
        background-position: 0 -110px;
        margin: 10px;
    }

    input {
        flex: 1;
        height: 30px;
        border-radius: 20px;
        margin-top: 5px;
        border: none;
        padding-left: 30px;
    }

    .denglu {
        width: 58px;
        height: 20px;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        text-align: center;
    }

    .search-input {
        position: absolute;
        top: 10px;
        left: 85px;
        width: 20px;
        height: 20px;
        background-position: -60px -110px;
    }
}


.main {
    margin-top: 40px;
    width: 100%;

    .lunbo {
        width: 100%;
        overflow-x: auto;

        ul {
            overflow: hidden;
            width: 1000%;

            li {
                float: left;
                width: 10%;

                a {
                    display: block;
                    width: 100%;

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.main-nav {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;

    ul {
        overflow: hidden;
        width: 100%;
        padding-top: 10px;

        li {
            float: left;
            width: 25%;
            text-align: center;

            img {
                width: 40px;
            }

            span {
                display: block;
                margin: 5px;
                color: #666;
            }
        }
    }
}

.miaosha {
    width: 100%;
    background-color: #fff;

    .title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        overflow: hidden;

        h3 {
            position: relative;
            float: left;
            font-size: 14px;
            font-weight: normal;
            color: #CA1327;
            padding-left: 30px;

            &::before {
                position: absolute;
                top: 4px;
                left: 8px;
                content: "";
                display: table;
                width: 20px;
                height: 26px;
                background-image: url(../image/jd-sprites.png);
                background-size: 200px;
                background-position: -83px -110px;
            }
        }

        .time {
            float: left;
            padding-left: 10px;

            span {
                &:nth-child(2n+1) {
                    background-color: #3d3d3d;
                    color: #fff;
                    padding: 1px 5px;
                    border-radius: 3px;
                    padding-top: 1px;
                    font-size: 12px;
                }
            }
        }

        >span {
            position: relative;
            float: right;
            font-size: 12px;
            color: #666;
            padding-right: 20px;

            &::after {
                position: absolute;
                top: 8px;
                right: 2px;
                content: "";
                display: block;
                width: 12px;
                height: 20px;
                background-image: url(../image/jd-sprites.png);
                background-size: 200px;
                background-position: -185px -50px;
            }
        }
    }

    .miaosha-bottom {
        width: 100%;

        ul {
            width: 100%;
            overflow: hidden;
            text-align: center;

            li {
                position: relative;
                float: left;
                width: 33.333333%;
                padding: 0 20px;
                box-sizing: border-box;

                a {
                    display: block;
                    width: 100%;

                    img {
                        width: 100%;
                    }

                    i {
                        display: block;
                        padding-top: 10px;
                        padding-bottom: 5px;
                        color: #CA1327;
                        font-size: 16px;
                    }

                    del {
                        display: block;
                        padding-bottom: 10px;
                        color: #666;
                        font-size: 14px;
                        text-decoration: line-through;
                    }

                    span {
                        position: absolute;
                        top: 63px;
                        right: 12px;
                        width: 34px;
                        height: 26px;
                        background-color: #FDB60A;
                        border-radius: 50%;
                        color: #fff;
                        line-height: 26px;
                    }
                }

            }
        }
    }
}

.quan {
    position: relative;
    width: 100%;

    >img {
        width: 100%;
    }

    .quan-tu {
        position: absolute;
        padding: 0 8px;
        bottom: 8px;
        left: 0;
    }

    a {
        display: block;
        float: left;
        width: 50%;

        img {
            width: 100%;
        }
    }
}

.shop {
    width: 100%;
    overflow: hidden;

    a {
        display: block;
        float: left;

        &:nth-child(-n+3) {
            width: 33.33333%;
        }

        &:nth-last-child(-n+4) {
            width: 50%;
        }

        img {
            width: 100%;
        }
    }
}

.ggw {
    width: 100%;

    a {
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    img {
        width: 100%;
    }
}

.market {
    background-color: #fff;
    overflow: hidden;

    h3 {
        height: 34px;
        line-height: 34px;
        padding: 0 8px;
        color: #f25353;
        font-size: 16px;
        font-weight: normal;
    }

    a {
        display: block;
        float: left;
        width: 50%;
    }

    img {
        width: 100%;
    }
}

.theme {
    width: 100%;
    overflow: hidden;

    h3 {
        height: 34px;
        line-height: 34px;
        padding: 0 8px;
        color: #f25353;
        font-size: 16px;
        font-weight: normal;
    }

    a {
        display: block;
        float: left;

        &:nth-child(-n+3) {
            width: 50%;
        }

        &:nth-last-child(-n+10) {
            width: 25%;
        }

        img {
            width: 100%;
        }
    }
}

.brand {
    width: 100%;
    overflow: hidden;
    background-color: #fff;

    h3 {
        height: 34px;
        line-height: 34px;
        padding: 0 8px;
        color: #f25353;
        font-size: 16px;
        font-weight: normal;
    }

    a {
        // display: block;
        float: left;

        &:nth-child(2) {
            width: 40%;
        }

        &:nth-last-child(-n+2) {
            width: 30%;
        }

        img {
            width: 100%;
        }
    }
}

.love {
    width: 100%;
    background-color: #fff;

    .love-title {
        width: 100%;
        height: 40px;
        overflow: left;

        h4 {
            float: left;
            font-size: 16px;
            font-weight: normal;
            color: #999;
            line-height: 40px;
            margin-left: 10px;
        }

        a {
            position: relative;
            float: right;
            height: 100%;
            font-size: 12px;
            color: #f15353;
            margin-right: 20px;
            line-height: 40px;

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -20px;
                width: 18px;
                height: 18px;
                background-image: url(../image/icon-login.png);
                background-size: 18px;
            }

            &::after {
                position: absolute;
                top: 15px;
                right: -22px;
                content: "";
                width: 18px;
                height: 18px;
                background-image: url(../image/icon-right.png);
                background-size: 6px;
                background-repeat: no-repeat;
            }
        }
    }

    .love-content {
        width: 100%;
        overflow: hidden;

        a {
            float: left;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;

            img {
                width: 100%;
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: #333;
                font-size: 12px;
                line-height: 18px;
                padding: 5px;
                height: 32px;
            }

            .love-content-price {
                width: 100%;
                height: 30px;
                margin-top: 5px;
                border-top: 1px solid #999;
                padding-top: 10px;

                b {
                    margin-top: 10px;
                    font-weight: normal;
                    font-size: 14px;
                    color: #f15353;
                }

                i {
                    color: #999;
                    float: right;
                    border: 1px solid #999;
                    padding: 2px 4px 1px 4px;
                    border-radius: 2px;

                }
            }
        }
    }
}

.more {
    width: 100%;
    height: 32px;
    background-color: #F3F5F7;
    text-align: center;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    a {
        display: block;
        width: 100%;
        font-size: 14px;
        color: #7F7F7F;
    }
}

.bottom-nav {
    width: 100%;
    padding: 20px 0;
    text-align: center;

    a {
        padding: 0 22px;
        color: #999;
        border-right: 1px solid #ccc;
        font-size: 14px;

        &:last-child {
            border: none;
        }
    }
}

.APP {
    width: 100%;
    padding-bottom: 44px;

    ul {
        overflow: hidden;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        li {
            position: relative;
            float: left;
            width: 33.3333%;
            height: 80px;

            &::before {
                position: absolute;
                top: 8px;
                left: 35px;
                content: "";
                width: 45px;
                height: 40px;
                background-image: url(../image/jd-sprites.png);
                background-size: 200px;
            }

            &:first-child::before {
                background-position: -313px -65px;
            }

            &:nth-child(2)::before {
                background-position: -233px -65px;
            }

            &:nth-child(3)::before {
                background-position: -274px -65px;
            }

            a {
                display: block;
                width: 45px;
                margin: 0 auto;
                padding-top: 56px;
                color: #666;
            }
        }
    }

    p {
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #666;
    }
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;

    ul {
        display: flex;
        width: 100%;
        height: 100%;
        li {
            flex: 1;
            float: left;
            height: 100%;

            a {
                display: block;
                width: 100%;
                background-color: #fff;
                text-align: center;
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }
}